@import 'antd/dist/antd.css';
body {
    background-color: white;
  }
  .main {
    background-color: white; 
    padding: 0px; 
  }
  .main {
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
  }
  .addtocart {
    text-align: center;
    margin:30px
  }
  .addTOCartImage {
    height:"100px" ;
    width:"100px" ;
  }